.benefits{
  background: #F6F6F6;
  min-height: 475px;
  margin: 0 auto;
  text-align: center;
  &__wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__item{
    max-width: 277px;
    margin: 0 33px 0 32px;
    img{
      display: block;
      margin: 0 auto 35px auto;
      &:hover{
        animation: heartbeat 1.5s ease infinite;
      }
    }

  }
  &__text{
    font-weight: 700;
    font-size: 18px;
    color: #0D0D0D;
    margin-bottom: 20px;
    text-align: center;
  }
  &__desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #0D0D0D;
    a{
      color: $main-color;
      font-weight: 300;
    }
  }
}
@media (max-width: 575px) {
  .benefits{
    &__wrapper{
      margin-bottom: 0;
      padding-bottom: 40px;
      flex-wrap: wrap;
    }
  }
}