.carousel{
  min-height: 580px;
  padding: 81px 0 0 0;
  &__inner{
    position: relative;
    width: 750px;
    margin: 0 auto;
    img{
      width: 100%;
      height: auto;
    }
  }
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    left: -66px;
    transform: translateY(-50%);
    border: none;
    background-color: #fff;
    img{
      width: 31px;
      height: 50px;
    }
  }
  .slick-next{
    right: -66px;
    left: auto;
  }
}
@media (max-width: 767px){
  .carousel{
    &__inner{
      max-width: 750px;
    }
    .slick-slide {
      max-width: 750px;
      img{
        width: 100%;
      }
    }
  }
}
@media (max-width: 575px){
  .carousel{
    &__inner{
      max-width: 550px;
    }
    .slick-slide {
      max-width: 550px;
      img{
        width: 100%;
      }
    }
  }
}
@media (max-width: 480px){
  .carousel{
    min-height: 450px;
    &__inner{
      max-width: 470px;
    }
    .slick-slide {
      max-width: 470px;
      img{
        width: 100%;
      }
    }
  }
}

@media (max-width: 390px){
  .carousel{
    &__inner{
      max-width: 320px;
    }
    .slick-slide {
      max-width: 320px;
      img{
        width: 100%;
      }
    }
  }
}
@media (max-width: 320px){
  .carousel{
    &__inner{
      max-width: 310px;
    }
    .slick-slide {
      max-width: 310px;
      img{
        width: 100%;
      }
    }
  }
}

