.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../img/bg.jpg") center center/cover no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
  }

  &__header {
    font-weight: 700;
    font-size: 42px;
    color: #fff;
  }

  &__subheader {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
  }

  &__icons {
    display: flex;
    max-width: 425px;
    justify-content: space-between;
    margin: 60px 0 65px 0;
  }

  &__icon {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    width: 108px;

    img {
      display: block;
      margin: 0 auto 20px auto;
    }
  }
  &__link{
    margin-top: 18px;
    color: #fff;
    a{
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      text-transform: uppercase;
    }
  }
}
@media (max-width: 767px) {
  .promo{
    padding: 20px 20px;
    &__header{
      font-size: 40px;
    }
    &__subheader{
      font-size: 22px;
    }
  }
}
@media (max-width: 480px) {
  .promo{
    padding: 20px 20px;
    &__header{
      font-size: 35px;
    }
    &__subheader{
      font-size: 22px;
    }
  }
}
@media (max-width: 320px) {
  .promo{
    &__header{
      font-size: 30px;
      text-align: center;
    }
    &__subheader{
      text-align: center;
      font-size: 18px;
    }
    &__wrapper{
      justify-content: center;
    }
    &__icons {
      max-width: 320px;
      flex-wrap: wrap;
    }
    &__icon{
      min-width: 100%;
      margin-bottom: 10px;
    }
    &__link{
      margin: 18px auto 0 auto;
      color: #fff;
      text-align: center;
      display: block;
      a{
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
}